 ---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="historia">
    <h1> Nosotros</h1>
        <p>  Con más de 20 años de experiencia en el mercado Venezolano como Empresa de Transporte, en C.H. Express C.A. contamos con bases completamente sólidas y con gran experiencia en el ramo Logístico, lo que nos permite enfocarnos en una amplia variedad de Industrias del comercio Nacional, garantizando entregas en tiempo record en zonas centrales del país y cobertura en todo el territorio nacional.

Nuestro amplio almacén, diseñado para lograr un proceso de carga y descarga constante y efectivo, permite optimizar las actividades propias de la consolidación de carga, consiguiendo un flujo de despachos ininterrumpido, respondiendo al ritmo del mercado actual y de las necesidades de nuestra cartera de clientes.

Invirtiendo constantemente en la renovación y mantenimiento de nuestra Flota, así como en capacitación de personal y tecnología, desde C.H. Express C.A. nos aseguramos de estar a la vanguardia en lo que a Servicio, Logística y Transporte se refiere, lo que, en conjunto con nuestra ubicación estratégica en San Diego Edo. Carabobo, resulta en una inmensa ventaja a la hora de acceder a todos los estados del país.

Todo ello se traduce en Responsabilidad, Confianza, Eficacia y Compromiso, acompañando a cada uno de nuestros clientes a llegar a cada rincón del país, en cada paso que damos.
        </p> 
</div>
</Layout>


<style>
    .historia {
        padding: 20px;
        font-family: 'times new roman', Times, serif;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    
    </style>