---

import Layout from "../layouts/Layout.astro"
import Imagen from '../assets/leon.jpg'
import Imagen2 from '../assets/catedral-leon.webp'
import servicios from "../components/tarjeta de servicio.astro";

---

<Layout>
   <div class="loquetuquieras">

     

      <servicios 
         imagen={Imagen2.src}
         titulo="Videos"
      />

      <Tarjeta 
         imagen={Imagen.src}
         titulo="Animales"
      />

      <Tarjeta 
         imagen={Imagen2.src}
         titulo="Videos"
      />
      
   </div>
</Layout>

<style>
   .loquetuquieras {
      display: flex;
   }
</style>