---

import Layout from "../layouts/Layout.astro"
import Imagen from '../assets/leon.jpg'
import Imagen2 from '../assets/catedral-leon.webp'
import Tarjeta from "../components/Tarjeta.astro"
import TarjetaDeServicio from "../components/Tarjetadeservicio.astro"
import imagen3 from"../assets/camion-1.png"
import Tarjetaservicios2 from "../components/Tarjetaservicios2.astro"
import imagen4 from "../assets/caja1.png"
import "../styles/global.css"
import Tarjetaservicios3 from "../components/Tarjetaservicio3.astro"
import imagen5 from "../assets/camion-2.png"



---

<Layout>
   <div class="loquetuquieras">

     

      <TarjetaDeServicio 
         imagen={imagen3.src}
         titulo="Transporte Nacional"
      />

      <Tarjetaservicios2
         imagen={imagen4.src}
         titulo="Encomienda Nacional"
      />

      <Tarjetaservicios3 
         imagen={imagen5.src}
         titulo="Transporte Carga Liviana"
      />
      
   </div>
</Layout>

<style>
   .loquetuquieras {
      display: flex;
      font-size: small;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center
      gap: 20px;
      padding: 20px;
      font-family: 'Arial', sans-serif;
      background-color: #79717a
   }
</style>