<div class="defondo">

    <h1 class="loquetuquieras">
        
    </h1>

</div>

<style>
    .defondo {
        background-color: #bf9c5a;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .loquetuquieras {
        font-size: 64px;
        text-align: center;
        font-weight: 600;
        color: white;
    }
</style>