---
import Logo from '../assets/logo.jpg';
---

<header>
	<nav class="nav">
		<!-- este es el lugar donde vamos a ubicar el logo  -->
		<div>
			<img src={Logo.src} alt="">


			
		</div>

		<!-- esta es la parte derecha del menu -->
		
		<div class="container">
			<ul class="lista">
				<li><a href="/">Inicio</a></li>
				<li><a href="/nosotros">Nosotros</a></li>
				<li><a href="/service">servicios</a></li>
				<li><a href="/herramientas">Herramientas</a></li>
				<li><a href="/contacto">Contacto</a></li>
				
			</ul>
			<a href="/"><button> Inicia session</button></a>
		</div>
	</nav>
</header>

<style>

	.container {
		display: flex;
		align-items: center;
		gap: 32px;
		justify-content: end;
		font-family: 'Times New Roman', Times, serif;
		font-size: medium;
		 
	}
	.nav {
		padding: 12px 90px;
		display: flex;
		justify-content: space-between
		gap: 16px;
	}
	.lista {
		display: flex;
		justify-content: right;
		align-items: center;
		gap: 36px;
		Height:60px
		
		</style>

		<div
		

