<header>
	<nav>
		<!-- este es el lugar donde vamos a ubicar el logo  -->
		<div></div>

		<!-- esta es la parte derecha del menu -->
		

			<button> <a href="/<div>
			<ul>
				<li>Inicio</li>
				<li>Nosotros</li>
				<li>servicios</li>
				<li>Herramientas</li>
				<li>Contacto</li>
			</ul>">Inicia Sesion</a></button>
		</div>
	</nav>
</header>
