<header>
	<nav class="nav">
		<!-- este es el lugar donde vamos a ubicar el logo  -->
		<div></div>

		<!-- esta es la parte derecha del menu -->
		
			<ul class="lista">
				<li><a href="/">Inicio</a></li>
				<li><a href="/nosotros">Nosotros</a></li>
				<li><a href="/service">servicios</a></li>
				<li><a href="/herramientas">Herramientas</a></li>
				<li><a href="/contacto">Contacto</a></li>
			</ul>
		</div>
	</nav>
</header>

<style>
	.nav {
		padding: 12px 90px;
	}
	.lista {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}
</style>
