<footer>
  <div>
      © Copyright CH Express CA. 
      Todos los derechos reservados 
      Programacion y diseño por Nicole Quintero
  </div>

</footer>

<style> 
  footer {
    padding: 90px;
    text-align: center;
    display: flexbox;
  }
</style>