<footer style="background:#222; color:#fff; padding:1.5rem 0; text-align:center;">
  <div>
    
  </div>

    
    <nav> 
      <a href="/" style="color:#fff; margin:0 1rem;">Inicio</a>
      <a href="/acerca" style="color:#fff; margin:0 1rem;">Acerca</a>
      <a href="/contacto" style="color:#fff; margin:0" >
      </a>
    </nav>
