<div>class=servicios
    <img src="camion.jpg" alt="Camión de C.H. Express C.A." />
    <h1> transportes nacionales</h1>
    <p>En C.H. Express C.A. ofrecemos servicios de transporte nacional con una flota moderna y eficiente, garantizando entregas rápidas y seguras en todo el país.</p>
    <button>Solicitar servicio</button>
</div>

<style>

    .tarjeta {
       flex-basis: 500px;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

</style>

