<div>
    <div> class= tarjeta</div>
    <img src="caja1.png" alt="">
    <h1>  Servicios de encomienda</h1>
    <p>Puede contar con una rapidez garantizada de entrega 
    sin importar la ubicación destino de su mercancía o productos.</p>
</div>

<style>

    .tarjeta {
       flex-basis: 500px;
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;



    }
