---
import Menu from "../components/Menu.astro";
import Piedepagina from "../components/Piedepagina.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Menu />

		<!-- esta parte es donde va a mover las vistas -->
		<slot />

		<Piedepagina />
	</body>
</html>

```
<script>
	import Lenis from "lenis";

	// Initialize Lenis
	const lenis = new Lenis({
		autoRaf: true,
	});

	// Listen for the scroll event and log the event data
	lenis.on("scroll", (e) => {
		console.log(e);
	});
</script>
