<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Inicio</a>
				<a href="/">Servicio</a>
				<a href="/">Transporte Nacional</a>
				<a href="/">Transporte De Carga Livida</a>
				<a href="/">Contacto</a>
			</nav>
		</header>
		
		<!-- esta parte es donde va a mover las vistas -->
		<slot />
	
	
		<footer>
			pie de pagina 
		</footer>
	
	
    </body>
 </html>
 
