<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<nav>
			 <!-- este es el lugar donde vamos a ubicar el logo  -->
             <div></div>

            <!-- esta es la parte derecha del menu -->
			 <div>

				<ul>
                  <li>Inicio</li>
				  <li>Nosotros</li>
				  <li>servicios</li>
				  <li>Herramientas</li>
				  <li>Contacto</li>
				</ul>

				<button> Inicia Sesion </button>

			 </div>

			</nav>
		</header>
		
		<!-- esta parte es donde va a mover las vistas -->
		<slot />
	
	
		<footer>
			pie de pagina 
		</footer>
	
	
    </body>
 </html>
 
